networks:
  proxy:
    external: true
x-logging-policy: &logging-policy
  logging:
    driver: local
    options:
      max-size: "10m"
      max-file: "3"
      compress: "true"
services:
  jellyfin:
    <<: *logging-policy
    image: linuxserver/jellyfin:${jellyfin_version:-latest}
    container_name: jellyfin
    restart: always
    networks:
      proxy: null
    environment:
      TZ: ${timezone:-UTC}
      PUID: ${uid:-1000}
      PGID: ${gid:-1000}
      UMASK: ${umask}
      JELLYFIN_PublishedServerUrl: jf.${domain}
    volumes:
      - ${data:-.}/jellyfin:/config:rw
      - ${media}/TV:/data/tvshows:rw
      - ${media}/Movies:/data/movies:rw
      - ${media}/Music:/data/music:rw
    devices:
      - /dev/dri
    labels:
      traefik.enable: "true"
      traefik.http.routers.jellyfin.entryPoints: "https"
      traefik.http.routers.jellyfin.middlewares: "allowedIPs@file"
      traefik.http.routers.jellyfin.rule: "Host(`jf.${domain}`)"
      traefik.http.services.jellyfin.loadbalancer.server.url: "http://jellyfin:8096"
  jellyseerr:
    <<: *logging-policy
    image: fallenbagel/jellyseerr:${jellyseerr_version:-latest}
    container_name: jellyseerr
    restart: always
    networks:
      proxy: null
    depends_on:
      - jellyfin
    environment:
      TZ: ${timezone:-UTC}
      PUID: ${uid:-1000}
      PGID: ${gid:-1000}
      UMASK: ${umask}
      LOG_LEVEL: ${log_level:-warn}
    volumes:
      - ${data:-.}/jellyseerr:/app/config/:rw
    labels:
      traefik.enable: "true"
      traefik.http.routers.jellyseerr.entryPoints: "https"
      traefik.http.routers.jellyseerr.middlewares: "allowedIPs@file"
      traefik.http.routers.jellyseerr.rule: "Host(`seer.${domain}`)"
      traefik.http.services.jellyseerr.loadbalancer.server.url: "http://jellyseerr:5055"
  calibre:
    <<: *logging-policy
    image: lscr.io/linuxserver/calibre-web:${calibre_web_version:-latest}
    container_name: calibre
    restart: always
    networks:
      proxy: null
    environment:
      TZ: ${timezone:-UTC}
      PUID: ${uid:-1000}
      PGID: ${gid:-1000}
    volumes:
      - ${data:-.}/calibre:/config
      - ${media}/Books:/books
    labels:
      traefik.enable: "true"
      traefik.http.routers.calibre.entryPoints: "https"
      traefik.http.routers.calibre.middlewares: "allowedIPs@file"
      traefik.http.routers.calibre.rule: "Host(`books.${domain}`)"
      traefik.http.services.calibre.loadbalancer.server.url: "http://calibre:8083"
  navidrome:
    <<: *logging-policy
    image: deluan/navidrome:${navidrome_version:-latest}
    container_name: navidrome
    user: ${uid:-1000}:${gid:-1000}
    restart: always
    networks:
      proxy: null
    environment:
      ND_REVERSEPROXYWHITELIST: 0.0.0.0/0
      ND_ENABLEUSEREDITING: false
    volumes:
      - ${data:-.}/navidrome:/data:rw
      - ${media}/Music:/music:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.navidrome.entryPoints: "https"
      traefik.http.routers.navidrome.middlewares: "allowedIPs@file, authelia@docker"
      traefik.http.routers.navidrome.priority: 30
      traefik.http.routers.navidrome.rule: "Host(`nav.${domain}`)"
      traefik.http.services.navidrome.loadbalancer.server.url: "http://navidrome:4533"
      # App specific auth with basic-auth
      traefik.http.routers.navidrome-subsonic.entrypoints: "https"
      traefik.http.routers.navidrome-subsonic.middlewares: "allowedIPs@file"
      traefik.http.routers.navidrome-subsonic.priority: 50
      traefik.http.services.navidrome-subsonic.loadbalancer.server.url: "http://navidrome:4533"
      traefik.http.routers.navidrome-subsonic.rule: Host(`nav.${domain}`) && PathPrefix(`/rest/`) && !Query(`c`, `NavidromeUI`)
