networks:
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  calibre:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    container_name: calibre
    environment:
      PGID: ${gid:-1000}
      PUID: ${uid:-1000}
      TZ: ${timezone:-UTC}
    image: lscr.io/linuxserver/calibre-web:${calibre_web_version:-latest}
    labels:
      kuma.__docker:
      # kuma.__web: '"books.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.calibre.entryPoints: "https"
      traefik.http.routers.calibre.middlewares: "allowedIPs@file"
      traefik.http.routers.calibre.rule: "Host(`books.${domain:?}`)"
      traefik.http.services.calibre.loadbalancer.server.url: "http://calibre:8083"
    networks:
      proxy: null
    volumes:
      - ${data:-.}/calibre:/config
      - ${media}/Books:/books
  jellyfin:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    container_name: jellyfin
    devices:
      - /dev/dri
    environment:
      JELLYFIN_PublishedServerUrl: jf.${domain:?}
      PGID: ${gid:-1000}
      PUID: ${uid:-1000}
      TZ: ${timezone:-UTC}
    healthcheck:
      interval: 15s
      retries: 3
      start_period: 20s
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      timeout: 3s
    image: lscr.io/linuxserver/jellyfin:${jellyfin_version:-latest}
    labels:
      kuma.__docker:
      # kuma.__web: '"jf.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.jellyfin.entryPoints: "https"
      traefik.http.routers.jellyfin.middlewares: "allowedIPs@file"
      traefik.http.routers.jellyfin.rule: "Host(`jf.${domain:?}`)"
      traefik.http.services.jellyfin.loadbalancer.server.url: "http://jellyfin:8096"
    networks:
      proxy: null
    volumes:
      - ${data:-.}/jellyfin:/config:rw
      - ${media}/TV:/data/tvshows:rw
      - ${media}/Movies:/data/movies:rw
      - ${media}/Music:/data/music:rw
  seerr:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    container_name: seerr
    environment:
      LOG_LEVEL: ${log_level:-warn}
      TZ: ${timezone:-UTC}
    depends_on:
      - jellyfin
    image: ghcr.io/seerr-team/seerr:${seerr_version:-latest}
    init: true
    labels:
      kuma.__docker:
      # kuma.__web: '"se.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.seerr.entryPoints: "https"
      traefik.http.routers.seerr.middlewares: "allowedIPs@file,tinyauth@file"
      traefik.http.routers.seerr.rule: "Host(`se.${domain:?}`)"
      traefik.http.services.seerr.loadbalancer.server.url: "http://seerr:5055"
    networks:
      proxy: null
    volumes:
      - ${data:-.}/seerr:/app/config/:rw
  navidrome:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: navidrome
    environment:
      ND_ENABLEINSIGHTSCOLLECTOR: ${navi_analytics:-true}
      ND_ENABLEUSEREDITING: false
      ND_REVERSEPROXYWHITELIST: 0.0.0.0/0
    image: deluan/navidrome:${navidrome_version:-latest}
    labels:
      kuma.__docker:
      # kuma.__web: '"nav.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.navidrome.entryPoints: "https"
      traefik.http.routers.navidrome.middlewares: "allowedIPs@file, tinyauth@file"
      traefik.http.routers.navidrome.priority: 30
      traefik.http.routers.navidrome.rule: "Host(`nav.${domain:?}`)"
      traefik.http.services.navidrome.loadbalancer.server.url: "http://navidrome:4533"
      # App specific auth with basic-auth
      traefik.http.routers.navidrome-subsonic.entrypoints: "https"
      traefik.http.routers.navidrome-subsonic.middlewares: "allowedIPs@file"
      traefik.http.routers.navidrome-subsonic.priority: 50
      traefik.http.routers.navidrome-subsonic.rule: Host(`nav.${domain:?}`) && PathPrefix(`/rest/`) && !Query(`c`, `NavidromeUI`)
    networks:
      proxy: null
    user: ${uid:-1000}:${gid:-1000}
    volumes:
      - ${data:-.}/navidrome:/data:rw
      - ${media}/Music:/music:ro
