# Storage settings
data=/opt/stacks/stackname
media=/mnt/bulk

# Domain settings
domain=yourdomain.com

# General settings
uid=1000
gid=1000
timezone=America/Chicago

# Image settings
calibre_web_version=latest
freshrss_version=latest
jellyfin_version=latest
navidrome_version=latest
postgres_version=16
seerr_version=latest

# Freshrss settings
client_id='a_long_and_secure_secret'
client_secret='a_long_and_secure_secret'
freshrss_user_name="freshrss_username"
freshrss_user_password="user_password_or_apikey"

# Navidrome settings
navi_analytics=true

# Postgres settings
db_name=freshrss
db_pass="a_secure_db_password"
db_user=freshrss

# Seerr settings
log_level=warn
