# Storage settings
data=/opt/stacks/stackname
media=/mnt/bulk

# Domain settings
domain=yourdomain.com

# General settings
uid=1000
gid=1000
umask=000
timezone=Your/Timezone

# Image settings
calibre_web_version=latest
jellyfin_version=latest
jellyseerr_version=latest
navidrome_version=latest

# Jellyseerr settings
log_level=warn

