# Storage settings
data=/opt/stacks/stackname

# Domain settings
domain=yourdomain.com

# Image settings
bookstack_version=26.3
mariadb_version=12

# Bookstack settings
app_key="a_base64_encoded_secret"

# MySQL settings
db_name=bookstack
db_pass="a_secure_db_password"
db_user=bookstack
root_pass="a_secure_db_admin_password"
