networks:
  default: null
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  nextcloud_app:
    <<: *common-settings
    container_name: nextcloud_app
    depends_on:
      - nextcloud_db
      - nextcloud_imaginary
      - nextcloud_keydb
    environment:
      # Database Stuff
      POSTGRES_DB: ${db_name:-nextcloud}
      POSTGRES_HOST: nextcloud_db
      POSTGRES_PASSWORD: ${db_pass:?}
      POSTGRES_USER: ${db_name:-nextcloud}
      REDIS_HOST_PASSWORD: ${keydb_pass}
      REDIS_HOST: nextcloud_keydb
      # Nextcloud's Config.php stuff
      ENABLE_PREVIEWS: "true"
      NEXTCLOUD_ADMIN_PASSWORD: ${admin_pass:?}
      NEXTCLOUD_ADMIN_USER: admin
      NEXTCLOUD_TRUSTED_DOMAINS: next.${domain:?}
      OVERWRITECLIURL: https://next.${domain:?}
      OVERWRITEHOST: next.${domain:?}
      OVERWRITEPROTOCOL: https
      TRUSTED_PROXIES: 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
      # Garage Config
      OBJECTSTORE_S3_BUCKET: nextcloud
      OBJECTSTORE_S3_REGION: garage
      OBJECTSTORE_S3_HOST: s3.${domain:?}
      OBJECTSTORE_S3_PORT: 443
      OBJECTSTORE_S3_KEY: ${s3_access_key:?}
      OBJECTSTORE_S3_SECRET: ${s3_secret_key:?}
      OBJECTSTORE_S3_SSL: true
      OBJECTSTORE_S3_USEPATH_STYLE: true
      OBJECTSTORE_S3_AUTOCREATE: false
      OBJECTSTORE_S3_SSE_C_KEY: ${s3_enc_key:?}
      OBJECTSTORE_S3_LEGACYAUTH: false
    image: nextcloud:${nextcloud_version:-32-fpm}
    labels:
      kuma.__docker:
    networks:
      default:
    volumes:
      - ${data:-.}/app:/var/www/html
  nextcloud_cron:
    <<: *common-settings
    container_name: nextcloud_cron
    depends_on:
      - nextcloud_app
    entrypoint: /cron.sh
    image: nextcloud:${nextcloud_version:-32-fpm}
    labels:
      kuma.__docker:
    networks:
      default:
    volumes:
      - ${data:-.}/app:/var/www/html
  nextcloud_db:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_READ_SEARCH
      - FOWNER
      - SETGID
      - SETUID
    container_name: nextcloud_db
    environment:
      POSTGRES_DB: ${db_name:-nextcloud}
      POSTGRES_PASSWORD: ${db_pass:?}
      POSTGRES_USER: ${db_name:-nextcloud}
    healthcheck:
      interval: 10s
      retries: 5
      test:
        - CMD-SHELL
        - pg_isready -U postgres -d postgres
      timeout: 5s
    image: postgres:${postgres_version:-17}
    labels:
      kuma.__docker:
    networks:
      default:
    volumes:
      - ${data:-.}/db:/var/lib/postgresql/data
  nextcloud_imaginary:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: nextcloud_imaginary
    image: ghcr.io/nextcloud-releases/aio-imaginary:${imaginary_version:-latest}
    labels:
      kuma.__docker:
    networks:
      default:
  nextcloud_keydb:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    command: keydb-server --requirepass ${keydb_pass}
    container_name: nextcloud_keydb
    image: eqalpha/keydb:${keydb_version:-latest}
    labels:
      kuma.__docker:
    networks:
      default:
    volumes:
      - ${data:-.}/keydb:/data
  nextcloud_nginx:
    <<: *common-settings
    container_name: nextcloud_nginx
    image: nginx:${nginx_version:-alpine-slim}
    volumes:
      - ${data:-.}/nginx.conf:/etc/nginx/nginx.conf:ro  
      - ${data:-.}/app:/var/www/html:ro
    depends_on:
      - nextcloud_app
    labels:
      kuma.__docker:
      # kuma.__web: '"next.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.nextcloud.entryPoints: "https"
      traefik.http.routers.nextcloud.middlewares: "allowedIPs@file,nextcloud-secure-headers@docker,nextcloud-redirect@docker"
      traefik.http.routers.nextcloud.rule: "Host(`next.${domain:?}`)"
      traefik.http.routers.nextcloud.tls.certresolver: "cloudflare"
      traefik.http.services.nextcloud.loadbalancer.server.url: "http://nextcloud_nginx:80"
      # Middlewares
      ## Secure headers
      traefik.http.middlewares.nextcloud-secure-headers.headers.forceSTSHeader: true
      traefik.http.middlewares.nextcloud-secure-headers.headers.hostsProxyHeaders: "X-Forwarded-Host"
      traefik.http.middlewares.nextcloud-secure-headers.headers.referrerPolicy: "same-origin"
      traefik.http.middlewares.nextcloud-secure-headers.headers.STSIncludeSubdomains: true
      traefik.http.middlewares.nextcloud-secure-headers.headers.STSPreload: true
      traefik.http.middlewares.nextcloud-secure-headers.headers.STSSeconds: 315360000
      ## Redirect
      traefik.http.middlewares.nextcloud-redirect.redirectregex.permanent: true
      traefik.http.middlewares.nextcloud-redirect.redirectregex.regex: "https://(.*)/.well-known/(card|cal)dav"
      traefik.http.middlewares.nextcloud-redirect.redirectregex.replacement: "https://$$1/remote.php/dav/"
    networks:
      default:
      proxy:
