networks:
  default: null
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  rxresume:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: rxresume
    depends_on:
      - rxresume_gotenburg
      - rxresume_postgres
    environment:
      APP_URL: https://rx.${domain:?}
      AUTH_SECRET: ${auth_secret:?}
      DATABASE_URL: postgresql://${db_user:-rxresume}:${db_pass:?}@rxresume_postgres:5432/${db_name:-rxresume}
      GOTENBERG_ENDPOINT: http://rxresume_gotenberg:3000
      PRINTER_APP_URL: https://rx.${domain:?}
      STORAGE_ACCESS_KEY: ${s3_access_key:?}
      STORAGE_BUCKET: rxresume
      STORAGE_ENDPOINT: garage
      STORAGE_PORT: 3900
      STORAGE_REGION: garage
      STORAGE_SECRET_KEY: ${s3_secret_key:?}
      STORAGE_SKIP_BUCKET_CHECK: "false"
      STORAGE_URL: https://s3.${domain:?}
      STORAGE_USE_SSL: "false"
    image: amruthpillai/reactive-resume:${rxresume_version:-v5.0.0}
    labels:
      kuma.__docker:
      # kuma.__web: '"rx.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.rxresume.entrypoints: "https"
      traefik.http.routers.rxresume.middlewares: "allowedIPs@file,tinyauth@file"
      traefik.http.routers.rxresume.rule: "Host(`rx.${domain:?}`)"
      traefik.http.services.rxresume.loadbalancer.server.url: 'http://rxresume:3000'
    networks:
      default: null
      proxy: null
  rxresume_postgres:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_READ_SEARCH
      - FOWNER
      - SETGID
      - SETUID
    container_name: rxresume_postgres
    environment:
      POSTGRES_DB: ${db_name:-rxresume}
      POSTGRES_USER: ${db_user:-rxresume}
      POSTGRES_PASSWORD: ${db_pass:?}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    image: postgres:${postgres_version:-16-alpine}
    labels:
      kuma.__docker:
    networks:
      default: null
    volumes:
      - $data/db:/var/lib/postgresql/data
  rxresume_gotenburg:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: rxresume_gotenburg
    environment:
      CHROMIUM_AUTO_START: true
      LIBREOFFICE_DISABLE_ROUTES: true
      PROMETHEUS_DISABLE_COLLECT: true
      WEBHOOK_DISABLE: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    image: gotenberg/gotenberg:${gotenburg_version:-8}
    labels:
      kuma.__docker:
    networks:
      default: null
