# Storage settings
data=/path/to/host/storage

# Domain settings
domain=yourdomain.com
local_domain=localonly.yourdomain.com

# Image versions
chrome_version=latest
postgres_version=latest
rxresume_version=latest

# Postgres settings
db_pass="a_secure_db_password"

# Chrome settings
chrome_token='a_long_and_secure_secret'

# App settings
access_token='a_long_and_secure_secret'
refresh_token='a_long_and_secure_secret'
s3_access_key='a_long_and_secure_secret'
s3_secret_key='a_long_and_secure_secret'
