# General settings
timezone=Etc/UTC

# Image settings
postgres_version=16-alpine
rxresume_version=v5

# Postgres settings
db_name=rxresume
db_pass="a_secure_db_password"
db_user=rxresume

# RxResume settings
auth_secret='a_long_and_secure_secret'
