# Storage settings
data=/opt/stacks/stackname

# Domain settings
domain=yourdomain.com

# General settings
uid=1000
gid=1000
timezone=Your/Timezone

# Image settings
convertx_version=latest
ittools_version=latest
keydb_version=latest
libretranslate_version=latest
myspeed_version=latest
postgres_version=latest
privatebin_version=stable
send_version=latest
slink_version=latest

# Send settings
send_access_key='a_long_base64_string'
send_secret_key='a_long_base64_string'

# Convertx settings
convertx_jwt='a_long_base64_string'
