networks:
  default:
    driver: bridge
    enable_ipv6: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  gluetun-proxy:
    <<: *common-settings
    image: qmcgaw/gluetun:${gluetun_version:-v3.40}
    container_name: gluetun-proxy
    cap_drop:
      - ALL
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    ports:
      - "1080:1080/tcp"
    environment:
      SERVER_CITIES: ${cities:-Stockholm}
      TZ: ${timezone:-UTC}
      VPN_SERVICE_PROVIDER: ${provider:?}
      VPN_TYPE: wireguard
      WIREGUARD_PRIVATE_KEY: ${wgkey:?}
    volumes:
      - ${data:-.}/gluetun-proxy:/gluetun:rw
    devices:
      - /dev/net/tun:/dev/net/tun
  socks5proxy:
    <<: *common-settings
    image: serjs/go-socks5-proxy:${socks5proxy_version:-latest}
    container_name: socks5proxy
    network_mode: service:gluetun-proxy
    cap_drop:
      - ALL
    environment:
      PROXY_PASS: ${proxy_pass:?}
      PROXY_USER: ${proxy_user:?}
      REQUIRE_AUTH: ${enable_auth:-true}
  tor-privoxy:
    <<: *common-settings
    image: dockage/tor-privoxy:${tor_privoxy_version:-latest}
    container_name: tor-privoxy
    cap_drop:
      - ALL
    ports:
      - "9050:9050/tcp"
