accessLog:
  filePath: /var/log/traefik/access.log
  filters:
    statusCodes:
      - 400-499
      - 500-599
    retryAttempts: true
    minDuration: 1000ms

api:
  dashboard: true
  insecure: false

certificatesResolvers:
  your-cert-provider:
    acme:
      email: youremail@example.com
      storage: /acme.json
      caServer: https://acme-v02.api.letsencrypt.org/directory
      dnsChallenge:
        provider: your-cert-provider
        resolvers:
          - 1.1.1.1:53
          - 1.0.0.1:53

entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true
  https:
    address: :443
    http3: {}
    forwardedHeaders:
      insecure: false
      trustedIPs:
        - 172.16.0.0/12
    proxyProtocol:
      insecure: false
      trustedIPs:
        - 172.16.0.0/12
    transport:
      respondingTimeouts:
        readTimeout: 600s
        idleTimeout: 600s
        writeTimeout: 600s
    http:
      middlewares:
        - geoipfilter@file
        - crowdsec@file
      tls:
        certResolver: your-cert-provider
        domains:
          - main: yourdomain.com
            sans:
              - "*.yourdomain.com"
  metrics:
    address: :8082
  minecraft:
    address: :25565

experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.7

log:
  compress: true
  filePath: /var/log/traefik/traefik.log
  level: INFO
  maxSize: 25
  maxAge: 7

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
    entryPoint: metrics

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false
    network: proxy
  file:
    filename: /dynamic.yml
    watch: true

serversTransport:
  insecureSkipVerify: true
