api:
  dashboard: true
  insecure: false

entryPoints:
  metrics:
    address: :8082
  https:
    address: ":443"
    http3: {}
    forwardedHeaders:
      insecure: false
      trustedIPs:
        - "172.16.0.0/12"
    proxyProtocol:
      insecure: false
      trustedIPs:
        - "172.16.0.0/12"
    transport:
      respondingTimeouts:
        readTimeout: 600s
        idleTimeout: 600s
        writeTimeout: 600s
    http:
     middlewares:
       - crowdsec-bouncer@docker

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /dynamic.yml
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: youremail@example.com
      storage: /acme.json
      caServer: https://acme-v02.api.letsencrypt.org/directory
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
    entryPoint: metrics

log:
  level: "INFO"
  maxSize: 25
  maxAge: 7
  compress: true
  filePath: "/var/log/traefik/traefik.log"

accessLog:
  filePath: "/var/log/traefik/access.log"
  filters:
    statusCodes:
      - "300-399"
      - "400-499"
      - "500-599"
    retryAttempts: true
    minDuration: "1000ms"