networks:
  default: null
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  paperlessngx:
    <<: *common-settings
    image: ghcr.io/paperless-ngx/paperless-ngx:${paperlessngx_version:-latest}
    container_name: paperlessngx
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    networks:
      proxy: null
      default: null
    depends_on:
      - paperlessngx_db
      - paperlessngx_broker
    labels:
      traefik.enable: "true"
      traefik.http.routers.paperlessngx.entryPoints: "https"
      traefik.http.routers.paperlessngx.middlewares: "allowedIPs@file,authelia@file"
      traefik.http.routers.paperlessngx.rule: "Host(`paper.${domain:?}`)"
      traefik.http.services.paperlessngx.loadbalancer.server.url: "http://paperlessngx:8000"
    volumes:
      - ${data:-.}/app/data:/usr/src/paperless/data
      - ${data:-.}/app/media:/usr/src/paperless/media
      - ${data:-.}/app/export:/usr/src/paperless/export
      - ${data:-.}/app/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_DBHOST: paperlessngx_db
      PAPERLESS_DBNAME: ${db_name:-paperless}
      PAPERLESS_DBPASS: ${db_pass:?}
      PAPERLESS_DBUSER: ${db_user:-paperless}
      PAPERLESS_REDIS: redis://paperlessngx_broker:6379
      PAPERLESS_SECRET_KEY: ${secret_key:?}
      PAPERLESS_TIME_ZONE: ${timezone:-UTC}
      PAPERLESS_URL: https://paper.${domain:?}
      USERMAP_GID: ${gid:-1000}
      USERMAP_UID: ${uid:-1000}
      # Authelia Header SSO
      PAPERLESS_ENABLE_HTTP_REMOTE_USER: true
      PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_REMOTE_USER
      PAPERLESS_LOGOUT_REDIRECT_URL: https://auth.${domain:?}/logout
  paperlessngx_broker:
    <<: *common-settings
    image: eqalpha/keydb:${keydb_version:-latest}
    container_name: paperlessngx_broker
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
    networks:
      default: null
    volumes:
      - ${data:-.}/keydb:/data
  paperlessngx_db:
    <<: *common-settings
    image: docker.io/library/postgres:${postgres_version:-16}
    container_name: paperlessngx_db
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_READ_SEARCH
      - FOWNER
      - SETGID
      - SETUID
    networks:
      default: null
    volumes:
      - ${data:-.}/db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${db_name:-paperless}
      POSTGRES_PASSWORD: ${db_pass:?}
      POSTGRES_USER: ${db_user:-paperless}
