# Storage settings
data=/opt/stacks/stackname

# Domain settings
domain=yourdomain.com

# General settings
timezone=America/Chicago

# Image settings
homeassistant_version=stable
mqtt_version=2
zigbee2mqtt_version=2
zwave_version=11

# Zwave settings
key=my-long-and-secure-key
zwave_device="serial-id-of-zwave-adapter"

# Zigbee2mqtt settings
zigbee_device="serial-id-of-zigbee-adapter"