# Storage settings
data=/opt/stacks/stackname

# Domain settings
domain=yourdomain.com

# Image settings
vaultwarden_version=latest

# Vaultwarden settings
vaultwarden_admin_token='a_secure_hashed_login'
