networks:
  default: null
  proxy:
    external: true
x-logging-policy: &logging-policy
  logging:
    driver: local
    options:
      max-size: "10m"
      max-file: "3"
      compress: "true"
services:
  adguardhome:
    <<: *logging-policy
    image: adguard/adguardhome:${adguard_version:-latest}
    container_name: adguardhome
    restart: unless-stopped
    networks:
      default: null
      proxy: null
    volumes:
      - ${data:-.}/adguardhome/work:/opt/adguardhome/work
      - ${data:-.}/adguardhome/conf:/opt/adguardhome/conf
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    labels:
      traefik.enable: "true"
      traefik.http.routers.adguardhome.entryPoints: "https"
      traefik.http.routers.adguardhome.middlewares: "localonly@file"
      traefik.http.routers.adguardhome.rule: "Host(`ad.${domain}`)"
      traefik.http.services.adguardhome.loadbalancer.server.url: "http://adguardhome:3000"
  adguardhome-sync:
    <<: *logging-policy
    image: ghcr.io/bakito/adguardhome-sync:${adguard_sync_version:-latest}
    container_name: adguardhome-sync
    restart: unless-stopped
    networks:
      default: null
    environment:
      LOG_LEVEL: ${log_level:-warn}
    command: run --config /config/adguardhome-sync.yml
    volumes:
      - ${data:-.}/adguardhome/adguardhome-sync.yml:/config/adguardhome-sync.yml
