# Storage settings
data=/opt/stacks/stackname
games=/mnt/bulk

# General settings
uid=1000
gid=1000

# Image settings
romm_version=latest
postgres_version=16

# Romm settings
auth_key='a-secure-key-you-generated' # `openssl rand -hex 32`
db_pass='a-secure-pass-you-generated'
oidc_client_id='oauth-id'
oidc_client_secret='oauth-secret'
retroachievements_key='key-from-retroachievements' # https://docs.romm.app/latest/getting-started/metadata-providers/#retroachievements
screenscraper_pass='password'  # https://docs.romm.app/latest/getting-started/metadata-providers/#screenscraper
screenscraper_user='username'
steamgriddb_key='key-from-steamgriddb' # https://docs.romm.app/latest/getting-started/metadata-providers/#steamgriddb
