# Storage settings
data=/opt/stacks/stackname

# General settings
uid=1000
gid=1000
timezone=America/Chicago

# Image settings
traefik_version=v3.7
socket_proxy_version=latest

# Traefik settings
cf_dns_api_token=some-token1 # generate this token from cloudflare
TRAEFIK_DASHBOARD_CREDENTIALS='a-secure-hashed-password'
