networks:
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      max-size: "10m"
      max-file: "3"
      compress: "true"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  handbrake:
    <<: *common-settings
    image: jlesage/handbrake:${handbrake_version:-latest}
    container_name: handbrake
    cap_drop:
      - ALL
    networks:
      proxy: null
    environment:
      TZ: ${timezone:-UTC}
      USER_ID: ${uid:-1000}
      GROUP_ID: ${gid:-1000}
      DARK_MODE: 1
      AUTOMATED_CONVERSION_PRESET: ${custom_profile:-General/Very Fast 1080p30}
      AUTOMATED_CONVERSION_FORMAT: ${extension:-mp4}
    volumes:
      - $data/handbrake:/config:rw
      - $data/trash:/trash:rw
      - $media/HandBrake/storage:/storage:rw
      - $media/HandBrake/watch:/watch:rw
      - $media/HandBrake/output:/output:rw
    labels:
      traefik.enable: 'true'
      traefik.http.routers.handbrake.entryPoints: 'https'
      traefik.http.routers.handbrake.middlewares: 'localonly@file'
      traefik.http.routers.handbrake.rule: 'Host(`hb.${domain:?}`)'
      traefik.http.services.handbrake.loadbalancer.server.url: 'http://handbrake:5800'
