# General settings
timezone=Etc/UTC

# Image settings
rxresume_version=v5

# RxResume settings
auth_secret='a_long_and_secure_secret'
db_host=postgres
db_name=rxresume
db_pass="a_secure_db_password"
db_port=5432
db_user=rxresume
encryption_secret=
redis_url=
