networks:
  freshrss: null
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  copyparty:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: copyparty
    environment:
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.2
    healthcheck:
      # hide it from logs with "/._" so it matches the default --lf-url filter
      test: ["CMD-SHELL", "wget --spider -q 127.0.0.1:3923/?reset=/._"]
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 15s
    image: copyparty/iv:${copyparty_version:-latest}
    labels:
      kuma.__docker:
      kuma.__web: '"c.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.copyparty.entryPoints: "https"
      traefik.http.routers.copyparty.middlewares: "localonly@file"
      traefik.http.routers.copyparty.rule: "Host(`c.${domain:?}`)"
      traefik.http.services.copyparty.loadbalancer.server.url: "http://copyparty:3923"
    networks:
      proxy:
    stop_grace_period: 15s # thumbnailer is allowed to continue finishing up for 10s after the shutdown signal
    user: ${uid:-1000}:${gid:-1000}
    volumes:
      - ${data:-.}/copyparty/conf:/cfg
      - ${data:-.}/copyparty/files:/w
  freshrss:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    container_name: freshrss
    depends_on:
      - freshrssdb
    environment:
      TZ: ${timezone:-UTC}
      TRUSTED_PROXY: 0
      LISTEN: 0.0.0.0:80
      CRON_MIN: "1,31"
    image: freshrss/freshrss:${freshrss_version:-latest}
    labels:
      kuma.__docker:
      kuma.__web: '"fr.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.freshrss.entryPoints: "https"
      traefik.http.routers.freshrss.middlewares: "allowedIPs@file,tinyauth@file"
      traefik.http.routers.freshrss.rule: "Host(`fr.${domain:?}`)"
      traefik.http.services.freshrss.loadbalancer.server.url: "http://freshrss:80"
    networks:
      freshrss:
      proxy:
    volumes:
      - ${data:-.}/rss/data:/var/www/FreshRSS/data
      - ${data:-.}/rss/extensions:/var/www/FreshRSS/extensions
  freshrssdb:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_READ_SEARCH
      - FOWNER
      - SETGID
      - SETUID
    container_name: freshrssdb
    environment:
      POSTGRES_DB: ${db_name:-freshrss}
      POSTGRES_PASSWORD: ${db_pass:?}
      POSTGRES_USER: ${db_user:-freshrss}
    image: postgres:${postgres_version:-16}
    labels:
      kuma.__docker:
    networks:
      freshrss:
    volumes:
      - ${data:-.}/rss/db:/var/lib/postgresql/data
  homepage:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: homepage
    environment:
      TZ: ${timezone:-UTC}
      HOMEPAGE_ALLOWED_HOSTS: home.${domain:?}
    image: ghcr.io/gethomepage/homepage:${homepage_version:-latest}
    labels:
      kuma.__docker:
      kuma.__web: '"home.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.homepage.entryPoints: "https"
      traefik.http.routers.homepage.middlewares: "localonly@file"
      traefik.http.routers.homepage.rule: "Host(`home.${domain:?}`)"
      traefik.http.services.homepage.loadbalancer.server.url: "http://homepage:3000"
    networks:
      proxy:
    volumes:
      - ${data:-.}/homepage:/app/config:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
  mywebsite:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: mywebsite
    image: dellhplaptop/newwebsite:${mywebsite_version:-latest}
    labels:
      kuma.__docker:
      kuma.__web: '"${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.mywebsite.entryPoints: "https"
      traefik.http.routers.mywebsite.middlewares: "allowedIPs@file"
      traefik.http.routers.mywebsite.rule: "Host(`${domain:?}`) || Host(`www.${domain:?}`)"
      traefik.http.services.mywebsite.loadbalancer.server.url: "http://mywebsite:8080"
    networks:
      proxy:
    user: ${uid:-1000}:${gid:-1000}
    volumes:
      - ${data:-.}/newweb/db:/app/db
  vaultwarden:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: vaultwarden
    environment:
      ADMIN_TOKEN: "${vaultwarden_admin_token:?}"
      DOMAIN: https://vault.${domain:?}
    image: vaultwarden/server:${vaultwarden_version:-latest}
    labels:
      kuma.__docker:
      kuma.__web: '"vw.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.vaultwarden.entryPoints: "https"
      traefik.http.routers.vaultwarden.middlewares: "allowedIPs@file"
      traefik.http.routers.vaultwarden.priority: 30
      traefik.http.routers.vaultwarden.rule: "Host(`vw.${domain:?}`)"
      traefik.http.services.vaultwarden.loadbalancer.server.url: "http://vaultwarden:80"
      # Block admin page with tinyauth
      traefik.http.routers.vaultwarden-admin.entrypoints: "https"
      traefik.http.routers.vaultwarden-admin.middlewares: "allowedIPs@file,tinyauth@file"
      traefik.http.routers.vaultwarden-admin.priority: 50
      traefik.http.routers.vaultwarden-admin.rule: Host(`vw.${domain:?}`) && PathPrefix(`/admin`)
    networks:
      proxy:
    volumes:
      - ${data:-.}/vault/data:/data
