networks:
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  syncthing:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    container_name: syncthing
    environment:
      PGID: ${gid:-1000}
      PUID: ${uid:-1000}
      UMASK: ${umask:-0220}
    image: lscr.io/linuxserver/syncthing:${syncthing_version:-latest}
    labels:
      kuma.__docker:
      kuma.__web: "sync.${domain:?}"
      traefik.enable: "true"
      traefik.http.routers.syncthing.entryPoints: "https"
      traefik.http.routers.syncthing.middlewares: "localonly@file"
      traefik.http.routers.syncthing.rule: "Host(`sync.${domain:?}`)"
      traefik.http.services.syncthing.loadbalancer.server.url: "http://${host_ip}:8384"
    network_mode: host
    volumes:
      - ${data:-.}/sync:/config:rw
      - ${syncthingFolder:?}/Syncthing:/data1:rw
