# Storage settings
data=/path/to/host/storage
syncthingFolder=/path/to/syncthing/folder

# Domain settings
local_domain=localonly.yourdomain.com
host_ip=127.0.0.1

# General settings
uid=1000
gid=1000
umask=0220