# Storage path
data=/path/to/host/storage

# Domain settings
domain=yourdomain.com
local_domain=localonly.yourdomain.com

# Traefik settings
email=youremail@example.com
cf_api_key=some-key1 # generate this key from cloudflare
cs_api_key=some-key2 # generate this key from crowdsec
