networks:
  proxy:
    external: true
x-logging-policy: &logging-policy
  logging:
    driver: local
    options:
      max-size: "10m"
      max-file: "3"
      compress: "true"
services:
  garage:
    <<: *logging-policy
    image: dxflrs/garage:${garage_version:-v2.1.0}
    container_name: garage
    restart: unless-stopped
    networks:
      proxy:
    ports:
      - "3900:3900/tcp" ## s3 api
      - "3901:3901/tcp" ## rpc
    environment:
      TZ: ${timezone:-UTC}
    volumes:
      - ${data:-.}/garage.toml:/etc/garage.toml:ro
      - ${data:-.}/metadata:/var/lib/garage/meta
      - ${data:-.}/storage:/var/lib/garage/data
    labels:
      traefik.enable: "true"
      traefik.http.routers.garage.entryPoints: "https"
      traefik.http.routers.garage.middlewares: "localonly@file"
      traefik.http.routers.garage.rule: "Host(`s3.${domain}`)"
      traefik.http.routers.garage.tls.certresolver: "cloudflare"
      traefik.http.services.garage.loadbalancer.server.url: "http://garage:3900"

  webui:
    <<: *logging-policy
    image: khairul169/garage-webui:${garage_webui_version:-latest}
    container_name: garage-webui
    restart: unless-stopped
    depends_on:
      - garage
    networks:
      proxy:
    volumes:
      - ${data:-.}/garage.toml:/etc/garage.toml:ro
    environment:
      API_BASE_URL: "http://garage:3903"
      S3_ENDPOINT_URL: "http://garage:3900"
    labels:
      traefik.enable: "true"
      traefik.http.routers.garage-webui.entryPoints: "https"
      traefik.http.routers.garage-webui.middlewares: "localonly@file"
      traefik.http.routers.garage-webui.rule: "Host(`garage.${domain}`)"
      traefik.http.routers.garage-webui.tls.certresolver: "cloudflare"
      traefik.http.services.garage-webui.loadbalancer.server.url: "http://garage-webui:3909"
