networks:
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  garage:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: garage
    environment:
      TZ: ${timezone:-UTC}
    image: dxflrs/garage:${garage_version:-v2.1.0}
    labels:
      kuma.__docker:
      kuma.garage_s3.port.hostname: garage
      kuma.garage_s3.port.name: port_garage_s3
      kuma.garage_s3.port.notification_name_list: '["ntfy"]'
      kuma.garage_s3.port.port: 3900
      traefik.enable: "true"
      traefik.http.routers.garage.entryPoints: "https"
      traefik.http.routers.garage.middlewares: "localonly@file"
      traefik.http.routers.garage.rule: "Host(`s3.${domain:?}`)"
      traefik.http.services.garage.loadbalancer.server.url: "http://garage:3900"
    networks:
      proxy:
    ports:
      - "3900:3900/tcp" ## s3 api
      - "3901:3901/tcp" ## rpc
    volumes:
      - ${data:-.}/garage.toml:/etc/garage.toml:ro
      - ${data:-.}/metadata:/var/lib/garage/meta
      - ${data:-.}/storage:/var/lib/garage/data
  garage_webui:
    <<: *common-settings
    cap_drop:
      - ALL
    container_name: garage_webui
    depends_on:
      - garage
    environment:
      API_BASE_URL: "http://garage:3903"
      S3_ENDPOINT_URL: "http://garage:3900"
    image: khairul169/garage-webui:${garage_webui_version:-latest}
    labels:
      kuma.__docker:
      # kuma.__web: '"g.${domain:?}"'
      traefik.enable: "true"
      traefik.http.routers.garage_webui.entryPoints: "https"
      traefik.http.routers.garage_webui.middlewares: "localonly@file"
      traefik.http.routers.garage_webui.rule: "Host(`g.${domain:?}`)"
      traefik.http.services.garage_webui.loadbalancer.server.url: "http://garage_webui:3909"
    networks:
      proxy:
    volumes:
      - ${data:-.}/garage.toml:/etc/garage.toml:ro
