# General settings
timezone=America/Chicago

# Image settings
freshrss_version=latest
kavita_version=latest
seerr_version=latest

# Freshrss settings
client_id='a_long_and_secure_secret'
client_secret='a_long_and_secure_secret'
freshrss_user_name="freshrss_username"
freshrss_user_password="user_password_or_apikey"

# Seerr settings
log_level=warn
