# General settings
timezone=America/Chicago

# Image settings
freshrss_version=latest
kavita_version=latest
navidrome_version=latest
seerr_version=latest

# Freshrss settings
client_id='a_long_and_secure_secret'
client_secret='a_long_and_secure_secret'
freshrss_user_name="freshrss_username"
freshrss_user_password="user_password_or_apikey"

# Navidrome settings
lastfm_key=key_from_lastfm
lastfm_secret=secret_from_lastfm
navi_analytics=false
trusted_proxy=172.30.0.0/16

# Seerr settings
log_level=warn
