networks:
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  wgeasy:
    <<: *common-settings
    cap_drop:
      - ALL
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    container_name: wgeasy
    environment:
      INSECURE: false
    image: ghcr.io/wg-easy/wg-easy:${wgeasy_version:-15}
    labels:
      kuma.__docker:
      kuma.__web: "vpn.${domain:?}"
      traefik.enable: "true"
      traefik.http.routers.wgeasy.entryPoints: "https"
      traefik.http.routers.wgeasy.middlewares: "localonly@file"
      traefik.http.routers.wgeasy.rule: "Host(`vpn.${domain:?}`)"
      traefik.http.services.wgeasy.loadbalancer.server.url: "http://wgeasy:51821"
    networks:
      proxy:
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    volumes:
      - ${data:-.}/wg-easy:/etc/wireguard
      - /lib/modules:/lib/modules:ro
