networks:
  proxy:
    external: true
x-common-settings: &common-settings
  logging:
    driver: local
    options:
      compress: "true"
      max-file: "3"
      max-size: "10m"
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  stdin_open: false
  tty: false
services:
  netbootxyz:
    <<: *common-settings
    image: ghcr.io/netbootxyz/netbootxyz:${netbootxyz_version-latest}
    container_name: netbootxyz
    cap_drop:
      - ALL
    networks:
      proxy: null
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 3s
    environment:
      PGID: ${gid:-1000}
      PUID: ${uid:-1000}
      TZ: ${timezone:-UTC}
      WEB_APP_PORT: 3000
    ports:
      - "69:69/udp"
    volumes:
      - ${data:-.}/netbootxyz/config:/config:rw
      - ${data:-.}/netbootxyz/assets:/assets:rw
    labels:
      traefik.enable: "true"
      traefik.http.routers.netbootxyz.entryPoints: "https"
      traefik.http.routers.netbootxyz.middlewares: "localonly@file"
      traefik.http.routers.netbootxyz.rule: "Host(`nb.${domain:?}`)"
      traefik.http.services.netbootxyz.loadbalancer.server.url: "http://netbootxyz:3000"
