networks:
  proxy:
    external: true
x-logging-policy: &logging-policy
  logging:
    driver: local
    options:
      max-size: "10m"
      max-file: "3"
      compress: "true"
services:
  netbootxyz:
    <<: *logging-policy
    image: ghcr.io/netbootxyz/netbootxyz:${netbootxyz_version-latest}
    container_name: netbootxyz
    restart: always
    networks:
      proxy: null
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 3s
    environment:
      PUID: ${uid:-1000}
      PGID: ${gid:-1000}
      TZ: ${timezone:-UTC}
      WEB_APP_PORT: 3000
    ports:
      - "69:69/udp"
    volumes:
      - ${data:-.}/netbootxyz/config:/config:rw
      - ${data:-.}/netbootxyz/assets:/assets:rw
    labels:
      traefik.enable: "true"
      traefik.http.routers.netbootxyz.entryPoints: "https"
      traefik.http.routers.netbootxyz.middlewares: "localonly@file"
      traefik.http.routers.netbootxyz.rule: "Host(`nb.${domain}`)"
      traefik.http.routers.netbootxyz.tls.certresolver: "cloudflare"
      traefik.http.services.netbootxyz.loadbalancer.server.url: "http://netbootxyz:3000"
